<!--1st row-->
<div class="service_div" >
    <div class="left"><img class="service_img" src="./assets/images/p1.jpg">
    </div>

    <div class="right">
        <!--1st text content-->
        <span class="title_s">Project 1</span>
        <div>
            <div>
               <div id="wrapper">
                    <div id="c1" class="text_s">
                        Lorem ipsum dolor sit amet, vim enim tollit quaeque cu, quo ea aperiam dolorum singulis. Pri ad brute diceret alterum, per no esse nobis putant.
                    </div>

                    <div id="c2">
                    </div>

                    <div id="c3" class="text_s">
                         Lorem ipsum dolor sit amet, vim enim tollit quaeque cu, quo ea aperiam dolorum singulis. Pri ad brute diceret alterum, per no esse nobis putant.
                    </div>
                </div>
            </div>
        </div>

        <div>
              <div id="c4" class="text_s">
                    <div class="grey">
                        Sit id efficiendi concludaturque. Iisque scripta disputationi ut est, mea corpora ocurreret in, mea te clita aeterno quaeque.Eum te audire adolescens. Iudico feugiat temporibus ius ne, eos nisl nullam disputationi cu. Et eos errem phaedrum referrentur. Ex liber labores usu, meliore consulatu per at. 
                    </div>
              </div>
        </div>
    </div>
</div>

<!--divier1-->
<div class="service_div" >
    <div class="left">
    </div>

    <div class="divider">   
    </div>
</div>

<!--2nd row-->
<div class="service_div" >
    <div class="left" id="left1"><img class="service_img" src="./assets/images/p3.jpg">
    </div>

    <div class="right">
        <!--2nd text content-->
        <span class="title_s">Project 2</span>
    
        <div>
            <div>          
                <div id="wrapper">
                <div id="c1" class="text_s"> 
                    Lorem ipsum dolor sit amet, vim enim tollit quaeque cu, quo ea aperiam dolorum singulis. Pri ad brute diceret alterum, per no esse nobis putant.
                </div>
            
                <div id="c2">
                </div>
                                
                <div id="c3" class="text_s"> 
                     Eum te audire adolescens. Iudico feugiat temporibus ius ne, eos nisl nullam disputationi cu. Et eos errem phaedrum referrentur. 
                </div>            
            </div>
        </div>

        <div>
            <div id="c4" class="text_s">
                <div class="grey">
                        Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, vim enim tollit quaeque cu, quo ea aperiam dolorum singulis. Pri ad brute diceret alterum, per no esse nobis putant.vim enim tollit quaeque cu, quo ea aperiam dolorum singulis. Pri ad brute diceret alterum, per no esse nobis putant.<br><br>Lorem ipsum dolor sit amet, vim enim tollit quaeque cu, quo ea aperiam dolorum singulis. Pri ad brute diceret alterum, per no esse nobis putant.
                </div> 
            </div>
        </div>
    </div>
</div>

<!--divier2-->
<div class="service_div" >
    <div class="left">
    </div>

    <div class="divider">      
    </div>
</div>

<!--3th row-->
<div class="service_div">
    <div class="left" >
       <img class="service_img" src="./assets/images/p3.JPG">
       <img class="service_img" src="./assets/images/p2.JPG">
    </div>

    <div class="right">
      <!--3rd text content-->
        <span class="title_s">Project 3</span>
        <div>
           <div>
              <div id="wrapper">
                    <div id="c1" class="text_s"> 
                        Lorem ipsum dolor sit amet, vim enim tollit quaeque cu, quo ea aperiam dolorum singulis. Pri ad brute diceret alterum, per no esse nobis putant.
                    </div>
                    
                    <div id="c2">
                    </div>

                    <div id="c3" class="text_s"> 
                         Lorem ipsum dolor sit amet, vim enim tollit quaeque cu, quo ea aperiam dolorum singulis. Pri ad brute diceret alterum, per no esse nobis putant.
                    </div>
                </div>
            </div>
        <div>
    </div>

    <div id="c4" class="text_s">
       <div class="grey">  
           Mea corpora ocurreret in, mea te clita aeterno quaeque.Eum te audire adolescens. Iudico feugiat temporibus ius ne, eos nisl nullam disputationi cu. Et eos errem phaedrum referrentur. Ex liber labores usu, meliore consulatu per at.<br><br>Ad mea labitur efficiendi. Vix an unum adhuc contentiones, ex vis purto cibo.  
       </div>
    </div>
</div>
</div>

<!--divier3-->
<div class="service_div" >
    <div class="left">
    </div>

    <div class="divider">      
    </div>
</div>
