<!--intro text-->
<div id="intro_s">
    Lorem ipsum dolor sit amet, vim enim tollit quaeque cu, quo ea aperiam dolorum singulis.
</div>

<!--1st row-->
<div class="service_div" >
    <div class="left" id="left1"><img class="service_img" src="./assets/images/s3.jpg">
    </div>

    <div class="right">
        <span class="title_s">DEV-OPS</span>
        <!--diveded screen-->
        <div id="wrapper">
            <div id="c1" class="text_s">Lorem ipsum dolor sit amet, vim enim tollit quaeque cu, quo ea aperiam dolorum singulis. Pri ad brute diceret alterum, per no esse nobis putant.
            </div>

            <div id="c2">
            </div>
            
            <div id="c3" class="text_s"> 
                <div class="grey">
                    Lorem ipsum dolor sit amet, vim enim tollit quaeque cu, quo ea aperiam dolorum singulis. Pri ad brute diceret alterum, per no esse nobis putant.
                </div>
            </div>
        </div>
    </div>
</div>

<!--2nd row-->
<div class="service_div" >
    <div class="left"><img class="service_img" src="./assets/images/s1.jpg">
    </div>

    <div class="right">
        <span class="title_s">BACK-END ENGINERRING</span>
        <!--diveded screen-->
        <div id="wrapper">
            <div id="c1" class="text_s"> 
                <div class="grey">
                    Lorem ipsum dolor sit amet, vim enim tollit quaeque cu, quo ea aperiam dolorum singulis. Pri ad brute diceret alterum, per no esse nobis putant.
                </div>
            </div>

            <div id="c2">
            </div>

            <div id="c3" class="text_s">
               Lorem ipsum dolor sit amet, vim enim tollit quaeque cu, quo ea aperiam dolorum singulis. Pri ad brute diceret alterum, per no esse nobis putant.
            </div>
        </div>
    </div>
</div>

<!--3th row-->
<div class="service_div">
    <div class="left" ><img class="service_img" src="./assets/images/s2.jpg">
    </div>

    <div class="right">
        <span class="title_s">FRONT-END ENGINERRING</span>
        <!--diveded screen-->
        <div id="wrapper">
            <div id="c1" class="text_s">Lorem ipsum dolor sit amet, vim enim tollit quaeque cu, quo ea aperiam dolorum singulis. Pri ad brute diceret alterum, per no esse nobis putant.
            </div>
            
            <div id="c2">
            </div>

            <div id="c3">
                <div class="grey">
                    Lorem ipsum dolor sit amet, vim enim tollit quaeque cu, quo ea aperiam dolorum singulis. Pri ad brute diceret alterum, per no esse nobis putant.
                </div>
            </div>
        </div>
    </div>
</div>

<!--4th row-->
<div class="service_div">
    <div class="left" ><img class="service_img" src="./assets/images/s4.jpg">
    </div>

    <div class="right">
       <span class="title_s">UX UI DESIGN</span>
        <!--diveded screen-->
        <div id="wrapper">
            <div id="c1" class="text_s"> 
                <div class="grey">
                    Lorem ipsum dolor sit amet, vim enim tollit quaeque cu, quo ea aperiam dolorum singulis. Pri ad brute diceret alterum, per no esse nobis putant.
                </div>
            </div>

            <div id="c2">
            </div>

            <div id="c3" class="text_s">Lorem ipsum dolor sit amet, vim enim tollit quaeque cu, quo ea aperiam dolorum singulis. Pri ad brute diceret alterum, per no esse nobis putant.
            </div>
        </div>
    </div>
</div>

<!--divider-->
<div class="service_div">
    <div class="divider1" >
    </div>

    <div class="divider2">
    </div>
</div>






