/*-----XuTung Jin 301111889--------*/
/*-------about page css------------*/
/*---------2020-10-09--------------*/


/*icon layout - small screen*/
.wrap {
  display: flex;
  margin: 0;
}
.container {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.itemA {
  display: flex;
  width: 350px;
}
.itemB {
  display: flex;
  width: 350px;
  margin-top: 20px;
}
#words {
  width: 80%;
}
#study {
  height: auto;
  max-width: 100%;
}

/*icon layout - medium screen*/
@media only screen and (min-width: 765px) and (max-width: 999px) {
  .wrap {
    display: flex;
    width: auto;
  }
  .container {
    display: flex;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .itemA {
    width: 350px;
  }
  .itemB {
    width: 350px;
    margin-top: 0px;
  }
  #words {
    width: 70%;
  }
  #study {
    height: auto;
    max-width: 70%;
  }
}

/*icon layout - bigger screen*/
@media (min-width: 1000px) {
  .container {
    display: flex;
    width: 800px;
  }
  .itemA {
    width: 400px;
  }
  .itemB {
    width: 400px;
    margin-top: 0px;
  }
  #words {
    width: 50%;
  }
  #study {
    height: auto;
    max-width: 700px;
  }
}

/*icon background*/
.iconTable {
  width: 150px;
  margin: auto;
  border-radius: 0px;
  background-color: #bfc0c2;
}

/*icon patterns*/
.about {
  display: inline-block;
  color: #000000;
  font-size: 60px;
  padding-left: 35px;
  margin-top: 20px;
  margin-bottom: 10px;
}
#i_DESI {
  padding-left: 45px;
}

/*icon title*/
.font_awsome_title {
  opacity: 0.5;
  width: 150px;
  padding-top: 10px;
  color: #000000;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  margin-top: 60px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 0.2;
  text-align: center;
}

/*icon subtitle*/
.font_awsome_content {
  opacity: 0.5;
  width: 150px;
  padding-bottom: 10px;
  font-family: "Open sans", sans-serif;
  color: #000000;
  font-size: 13px;
}

/*self introduction lines*/
#words {
  font-family: "Open sans", sans-serif;
  color: #000000;
  font-size: 15px;

  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
}
#resume {
  font-family: "Open sans", sans-serif;
  color: #d85656;
  text-decoration: underline;
  font-size: 15px;
}
