<!--picture-->
<img id="study" src="./assets/images/study_scope.jpg">

<!--4 containers-->
<div class="wrap">
  <div class="container">
    <div class="itemA">
      <table class="iconTable">
        <tr>
          <td><i id="i_PRO" class="fas fa-laptop-code about"></i></td>
        </tr>
        <tr>
          <td class="font_awsome_title">CODE</td>
        </tr>
        <tr>
          <td class="font_awsome_content">Centennial college</td>
        </tr>
      </table>
  
      <table class="iconTable">
        <tr>
          <td><i id="i_MATH" class="fas fa-infinity about"></i></td>
        </tr>
        <tr>
          <td class="font_awsome_title">MATH</td>
        </tr>
        <tr>
          <td class="font_awsome_content">Algorithm / Logic</td>
        </tr>
      </table>
    </div>

    <div class="itemB">    
      <table class="iconTable">
        <tr>
          <td><i id="i_LAN" class="fas fa-language about"></i></td>
        </tr>
        <tr>
          <td class="font_awsome_title">SPEAK</td>
        </tr>
        <tr>
          <td class="font_awsome_content">English / Madarin</td>
        </tr>
      </table>
      <table class="iconTable">
        <tr>
          <td><i id="i_DESI" class="fas fa-paint-roller about"></i></td>
        </tr>
        <tr>
          <td class="font_awsome_title">DESIGN</td>
        </tr>
        <tr>
          <td class="font_awsome_content">Art Experienced</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!--introduction text-->
<div id="words">
    My name is Xu-Tung Jin. I am a computer science student in Toronto, Canada. Click here to  
    <span id="resume"><a href="./assets/images/part-time.pdf">view my resume</a></span>
</div>


