 <!--Navigate-->
 <div id="header_h">
    <%- include('./partials/header.ejs') %>
 </div>
<!--home text-->
<div id ="intro_h">Hello,I am Freya.<br>
<div id="int">
        <span id="sub_h">
            I am a software engineering student focused in 
        </span>
        <span id="color_h">
            web development
        </span> 
        <span id="sub_h">
            and 
        </span>
        <span id="color_h">
            database management
        </span>
        <span id="sub_h"> 
            .
        </span>
        
        <br><br>
   </div>


<!--buttons-->
    <div class="button_cont">
        <a class="example_c" href="/project" rel="nofollow noopener">
          <span id="button_s">
             VIEW&nbsp;&nbsp;PROJECT
          </span>
        </a>

         <a class="example_c" href="./assets/images/part-time.pdf" rel="nofollow noopener">
          <span id="button_s">
             CO-OP&nbsp;&nbsp;RESUME
          </span>
        </a>
    </div>
   
</div>